@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Inter", sans-serif;
}

.slider {
  -webkit-appearance: none;
  height: 100%;
  background: transparent;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  min-height: 30px;
  background-image: url(/slide_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-layer {
  background-image: url(/bg_layer.png);
}